<body background="../assets/Images/1_WSHXVLwlZyreTyXPGdcwyA.jpeg">
    <div class="backgroundimg">
        <div class="container">
                <app-swift></app-swift> 
          <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-3"> 
                <app-login></app-login>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
        </div>

            </div> 
                
        </div>
    
    <app-footer></app-footer>
</body>

